extends layout

block content
  #wrapper
    #logo
      <a href='/select'><img src='/images/Untitled4.png'></a>
    #display
      include userbar
      P &nbsp;
      P &nbsp;
      p Hello! I see you found my secret page! Congratulations! Now that you are here, let's go over some basic guidelines for actually playing Dungeons and Dragons with your friends. I polled fellow players and Dungeon Masters (DM) for their suggestions and have listed the top seven below. 
      P &nbsp;
      ol
      li <b>First:</b> Remember this is a game and games are supposed to be fun. This is a game just as much as it is an excuse to get together and chat with your friends. 
      P 
      li <b>Second:</b> Play with friends whenever possible; the more you know about one another, the more enjoyable the game. 
      P
      li <b>Third:</b> Be nice to your Dungeon Master - they take the time to plan the game and then run it for you. 
      P
      li <b>Fourth:</b> If you have any questions, please ask the DM and other players.
      P
      li <b>Fifth:</b> Be sure to establish a time that everyone can agree on.
      P
      li <b>Sixth:</b> Develop and play a character that you like and want to play.
      P
      li <b>Seventh:</b> Keep a level head, even when frustrated - no one likes to play with someone who has a temper.
      
    include footer