extends layout

block content
  #wrapper
    #logo
      <a href='/select'><img src='/images/Untitled4.png'></a>
    #display
      include userbar
     
     | Welcome adventurer. Please select a link from above to begin. 
    P
    P
    P &nbsp;
    include footer
