extends layout

block content
  #wrapper
    #logo
      a(href='/')
      img(src='/images/Untitled4.png')
    #display
      include userbar
        


      -for (var level in items)
        - var item = items[level]
        div
        a(href='/item/#{level}') #{item.name} - #{item.level}
    
    p
    Please select a bar above to get started

    p 
    p
    include footer
