extends layout

block content
  #wrapper
    #logo
      a(href='/')
      img(src='/images/Untitled4.png')
    #display
      include userbar

      Welcome #{username}. Please select your desired race. 
        
      -for (var racename in races)
        - var racename = races[racename]
        div
        <a href="/race/#{racename}"> #{racename}</a>



    include footer
