extends layout

block content
  #wrapper
    #logo
      a(href='/')
      img(src='/images/Untitled4.png')
    #display
      include userbar

      Welcome #{username}. Please seledsfsadfsdfsdafsadfsdafct your desired class and level so you may begin on your journey. 
        
      -for (var level in items)
        - var item = items[level]
        div
        a(href='/stats/#{level}') #{item.name} - #{item.level}

    this is bullshit why aren't you working?!
      
    include footer
