body
  padding: 30px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: #081608

a
  color: #0049b1
 
#wrapper
  width: 450px
  margin: 0 auto
  padding: 40px 20px
  background: #a7c09d

#logo
  text-align: center

#display
  margin: 20px 0 50px

#userbar
  margin-bottom: 10px
