#footer

  div Copyright &copy; Sara Mattice #{+new Date().getFullYear()} 
  
  //a(href='/page?name=about') About 
  p This information was taken from the 3.5 edition Player's Handbook, released by Wizards of the Coast. This information is used in a solely educational manner - please do not sue. 
  //a(href='/page?name=contact') Contact Us
